// ---------------------------------------------- button-base

$button-font-size: $font-size-base !default;
$button-height: 2rem !default;
$button-height-small: 1.6rem !default;
$button-height-large: 2.5rem !default;

$button-border-radius: $border-radius !default;

$button-padding-top: 0 !default;
$button-padding-bottom: 0 !default;
$button-padding-left: 0.75rem !default; // spacing("sm")
$button-padding-right: 0.75rem !default; // spacing("sm")
$button-padding-icon: 2rem !default; // spacing("l")

$button_icon-font-size: 1.1rem !default;
$button_icon-left: 0.6rem !default;