// ---------------------------------------------- borders

$border-color: $color-neutral-base;

$border-color-light: $color-neutral-lighter;


// ---------------------------------------------- border radius
$border-radius-none: none;
$border-radius-light: 0.25rem;
$border-radius-heavy: 0.5rem;

$border-radius: $border-radius-light;