// ---------------------------------------------- colors

// ---------------------------------------------- brand colors

$color-primary-lightest: #ECFAF6 !default;
$color-primary-lighter: #C5EEE4 !default;
$color-primary-light: #89D9C9 !default;
$color-primary-base: #34B394 !default;
$color-primary-dark: #17987E !default;
$color-primary-darker: #237863 !default;
$color-primary-darkest: #123C32 !default;

$color-secondary-lightest: #DFE5EC !default;
$color-secondary-lighter: #5E80A0 !default;
$color-secondary-light: #4B6780 !default;
$color-secondary-base: #2F4050 !default;
$color-secondary-dark: #293846 !default;
$color-secondary-darker: #1C2630 !default;
$color-secondary-darkest: #131920 !default;

// ---------------------------------------------- neutral colors

$color-neutral-lightest: #F3F3F4 !default;
$color-neutral-lighter: #E5E6E7 !default;
$color-neutral-light: #C4C4C5 !default;
$color-neutral-base: #9E9E9E !default;
$color-neutral-dark: #777777 !default;
$color-neutral-darkest: #444444 !default;

$color-neutral-black: #000000 !default;
$color-neutral-white: #FFFFFF !default;