// ---------------------------------------------- font sizes
$font-size-large: 1rem;
$font-size-small: 0.75rem;
$font-size-tiny: 0.675rem;

/// Heading
$font-color-heading: color-tint("primary", "dark");
$font-family-heading: $font-family-alt;
$font-line-height-heading: 1.25;
$font-margin-heading: 1.414em 0 0.5em;
$font-weight-heading: $font-weight-emphasis;

$font-size-heading1: 2rem;
$font-size-heading2: 1.5rem;
$font-size-heading3: 1.25rem;
$font-size-heading4: 1rem;
$font-size-heading5: 0.875rem;
$font-size-heading6: 0.625rem;
$font-size-heading7: 0.5625rem;

/// Subheading
$font-color-subheading: $font-color;
$font-family-subheading: $font-family-heading;
$font-line-height-subheading: $font-line-height-heading;
$font-margin-subheading: $font-margin-heading;
$font-weight-subheading: $font-weight;

$font-size-subheading1: $font-size-heading1;
$font-size-subheading2: $font-size-heading2;
$font-size-subheading3: $font-size-heading3;
$font-size-subheading4: $font-size-heading4;
$font-size-subheading5: $font-size-heading5;
$font-size-subheading6: $font-size-heading6;
$font-size-subheading7: $font-size-heading7;