// ---------------------------------------------- font sizes
$font-size-large: 1rem !default;
$font-size-small: 0.75rem !default;
$font-size-tiny: 0.675rem !default;

/// Heading
$font-color-heading: color-tint("primary", "dark") !default;
$font-family-heading: $font-family-alt !default;
$font-line-height-heading: 1.25 !default;
$font-margin-heading: 1.414em 0 0.5em !default;
$font-weight-heading: $font-weight-emphasis !default;

$font-size-heading1: 2rem !default;
$font-size-heading2: 1.5rem !default;
$font-size-heading3: 1.25rem !default;
$font-size-heading4: 1rem !default;
$font-size-heading5: 0.875rem !default;
$font-size-heading6: 0.625rem !default;
$font-size-heading7: 0.5625rem !default;

/// Subheading
$font-color-subheading: $font-color !default;
$font-family-subheading: $font-family-heading !default;
$font-line-height-subheading: $font-line-height-heading !default;
$font-margin-subheading: $font-margin-heading !default;
$font-weight-subheading: $font-weight !default;

$font-size-subheading1: $font-size-heading1 !default;
$font-size-subheading2: $font-size-heading2 !default;
$font-size-subheading3: $font-size-heading3 !default;
$font-size-subheading4: $font-size-heading4 !default;
$font-size-subheading5: $font-size-heading5 !default;
$font-size-subheading6: $font-size-heading6 !default;
$font-size-subheading7: $font-size-heading7 !default;